
body{
    margin: 0px;
}

nav{
    background-color: rgb(255, 255, 255);
    border: 50rem;
    

}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}

.menu,h1{
    
  font-family: 'Poetsen One', sans-serif;               
   font-style: normal;
   font-weight: 400px;
   line-height: 20px;
   color:#123387;
    font-size: 3rem;
}
img{
    width: 52px;
    height: 37px;
    }

.imagenindex{
width:80rem;
height:47rem;
}


.cuerpo{
display: flex;
justify-content: end;

}


.login-form {
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-40%, -100%);
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 60px;
    border-radius: 4px;
    width: 200px;
    z-index: 100px; /* Ajusta el valor de z-index según sea necesario */
    background-image: url('logoform.png');
    background-repeat: no-repeat;
    background-size: 55px; /* Ajusta el tamaño del logo según sea necesario */
    background-position: center top; /* Ajusta la posición del logo según sea necesario */
}

  
  form {
    display: flex;
    flex-direction: column;
    
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #123387;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  