.tabla-colores {
    width: 100%;
    border-collapse: collapse;
}

.tabla-colores th,
.tabla-colores td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}


.tabla-colores tr:nth-child(odd) {
    background-color: #8EA0BC;
}


.tabla-colores tr:nth-child(even) {
    background-color: #fff;
    font-family: Poppins;
}

.all {
    width: calc(100% - 400px); 
    height: 469px;
    flex-shrink: 0;
    margin: 0 200px; 
    font-family: Poppins;
}
.all h1{
    margin-top: 6rem;
}


.tabla-colores tr:nth-child(odd) {
    background-color: #8EA0BC;
    color: #fcfcfc; 
    font-family: Poppins;
}


.tabla-colores tr:nth-child(even) {
    background-color: #fff;
    color: #123387;
    font-family: Poppins;
}

td h2{
   font-size: 1rem; 
}

.List {
    color: #123387; 
}

.btnM {
    width: 6rem; 
    height: 2rem;
    background-color: #1E509A;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    position: absolute;
    right: 50%; 
    top: 50%; 
    transform: translate(50%, -50%); 
}
.cell-with-button {
    position: relative; 
    text-align: center; 
}
.cell-with-button {
    position: relative; 
    text-align: center; 
}
