<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/listMasco.css}">
    <link rel="stylesheet" th:href="@{/css/dashAndFoot.css}">
    <title>Registrar un usuario</title>
</head>
<body>
    <nav>
        <img th:src="@{img/logo.png}" class="logo">
        <div class="btns">
            <div class="btn">
                <a th:href="@{/usu}"><input type="submit" value="USUARIOS"></a>
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="CITAS"></a>
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="AGENDA"></a>
            </div>
            <div class="btn">
                <a th:href="@{/modulMasco}"><input type="submit" value="MASCOTAS"></a>
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="CLIENTES"></a>
            </div>
            <div class="btn">
                <a th:href="@{/histo}"><input type="submit" value="HISTORIA CLÍNICA"></a>
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="PERFIL"></a>
            </div>
            <div class="cerrar">
                <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
            </div>
        </div>
    </nav>

    <div class="all">
        
        <center><h1 class="List">LISTADO DE MASCOTAS </h1></center>
        <br>
        <table class="tabla-colores">
            <tr>
                <th>Id </th>
                <th>Id Cliente</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Nacimiento</th>
                <th>Raza</th>
                <th>Genero</th>
                <th>Estado</th>
                

            </tr>
            <tr th:if="${usuarios.size()>0}" th:each="c:${usuarios}">
                <td th:text="${c.idUsuario}"></td>
                <td th:text="${c.tipoDocumentoUsu}"></td>
                <td th:text="${c.numDocumentoUsu}"></td>
                <td th:text="${c.nombreUsu}"></td>
                <td th:text="${c.apellidoUsu}"></td>
                <td th:text="${c.telefonoUsu}"></td>
                <td th:text="${c.correoUsu}"></td>
                <td th:text="${c.claveUsu}"></td>
                <td th:if="${c.estadoUsu==true}">
                    <h2>Activo</h2>
                </td>
                <td th:if="${c.estadoUsu==false}">
                    <h2>Inactivo</h2>
                </td>
                <td th:if="${c.FK.idRol==1}">
                    <h2>Adminsitrador</h2>
                </td>
                <td th:if="${c.FK.idRol==2}">
                    <h2>Secretario</h2>
                </td>
                <td th:if="${c.FK.idRol==3}">
                    <h2>Doctor</h2>
                </td>
                <td th:if="${c.FK.idRol==4}">
                    <h2>Peluquero</h2>
                </td>
                <td class="cell-with-button">
                    <a th:href="@{/modificarUsuV/{idUsuario}(idUsuario=${c.idUsuario})}"><button class="btnM">Modificar</button></a>
                </td>
            </tr>
        </table> 
    </div>
    <footer>
        <div class="vete">
            <h1>Veterinaria Boss Bunny</h1>
        </div>
        <div class="contac">
            <div class="text">
                <h1>CONTACTO</h1>
                <h2>teléfono: 3147888196 • veterinaria@gmail.com</h2>
            </div>
            <div class="img">
                <img th:src="@{/img/logo.png}" class="log">
            </div>
        </div>
        <div class="toda">
            <h1>Todas las marcas y logotipos pertenecen a las respectivas empresas. ® 2023. creado por PETCOM  ©.</h1>
        </div>
    </footer>
</body>
</html>

