<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/modulUser.css}">
    <link rel="stylesheet" th:href="@{/css/dashAndFoot.css}"> 
    <title>Usuario</title>
</head>
<body>
    <nav>
        <img th:src="@{img/logo.png}" class="logo">
        <div class="btns">
            <div class="btn">
                <a th:href="@{/usu}"><input type="submit" value="USUARIOS"></a>
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="CITAS"></a>
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="AGENDA"></a>
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="MASCOTAS"></a>
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="CLIENTES"></a>
            </div>
            <div class="btn">
                <a th:href="@{/histo}"><input type="submit" value="HISTORIA CLÍNICA"></a>
            </div>
            <div class="btn">
                <a href="oscar.html"><input type="submit" value="PERFIL"></a>
            </div>
            <div class="cerrar">
                <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
            </div>
        </div>
    </nav>

    <div id="all">
        <h1>USUARIO</h1>
        <div class="cont">
            <div class="bot">
                <h2>OPRIME ESTE BOTÓN SI QUIERES REGISTRAR UN USUARIO</h2>
                <a th:href="@{/registrarUsuV}"><input type="submit" value="REGISTRAR"></a>
            </div>
            <div class="bot">
                <h2>OPRIME ESTE BOTÓN SI QUIERES VER A TODOS LOS USUARIOS</h2>
                <a th:href="@{/listUsu}"><input type="submit" value="VER"></a>
            </div>
        </div>
    </div>

    <footer>
        <div class="vete">
            <h1>Veterinaria Boss Bunny</h1>
        </div>
        <div class="contac">
            <div class="text">
                <h1>CONTACTO</h1>
                <h2>teléfono: 3147888196 • veterinaria@gmail.com</h2>
            </div>
            <div class="img">
                <img th:src="@{/img/logo.png}" class="log">
            </div>
        </div>
        <div class="toda">
            <h1>Todas las marcas y logotipos pertenecen a las respectivas empresas. ® 2023. creado por PETCOM  ©.</h1>
        </div>
    </footer>
</body>
</html>
