<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
  <link rel="stylesheet" th:href="@{css/registrarMasco.css}">
  <link rel="stylesheet" th:href="@{css/dashAndFoot.css}">
  <title>RegistrarUsu</title>
</head>
<body>
  <nav>
    <img th:src="@{img/logo.png}" class="logo">
    <div class="btns">
        <div class="btn">
            <a th:href="@{/usu}"><input type="submit" value="USUARIOS"></a>
        </div>
        <div class="btn">
            <a href="oscar.html"><input type="submit" value="CITAS"></a>
        </div>
        <div class="btn">
            <a href="oscar.html"><input type="submit" value="AGENDA"></a>
        </div>
        <div class="btn">
          <a th:href="@{/modulMasco}"><input type="submit" value="MASCOTAS"></a>
        </div>
        <div class="btn">
            <a href="oscar.html"><input type="submit" value="CLIENTES"></a>
        </div>
        <div class="btn">
            <a th:href="@{/histo}"><input type="submit" value="HISTORIA CLÍNICA"></a>
        </div>
        <div class="btn">
            <a href="oscar.html"><input type="submit" value="PERFIL"></a>
        </div>
        <div class="cerrar">
            <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
        </div>
    </div>
</nav>
  <main>
    <form th:action="@{/regisMasco}" th:object="${masco}" method="post">
      <h2>Registrar<br> Mascota</h2>
     
      <input type="text" id="idcli" th:field="*{FK.idCliente}" placeholder="id CLIENTES" required value="1"><br><br>

      <input type="text" id="nombreMascota" th:field="*{nombreMascota}" placeholder="Nombre Mascota" required><br><br>

      <input type="text" id="nombre" th:field="*{apellidoMascota}" placeholder="Apellido Mascota" required><br><br>

      <input type="date" id="apellido" th:field="*{fechaNacimiento}" placeholder="Fecha Nacimiento" required><br><br>

      <input type="text" id="raza" th:field="*{raza}" placeholder="Raza" required><br><br>

      <input type="text" id="genero" th:field="*{genero}" placeholder="Genero" required><br><br>


      <select id="estadoMascota" name="estadoMascota" th:field="*{estadoMascota}">
        <option value="1">Activo</option>
        <option value="0">Inactivo</option>
      </select><br><br>

      
      <input type="submit" class="regis" value="Registrar">
    </form>
  </main>
  <footer>
    <div class="vete">
        <h1>Veterinaria Boss Bunny</h1>
    </div>
    <div class="contac">
        <div class="text">
            <h1>CONTACTO</h1>
            <h2>teléfono: 3147888196 • veterinaria@gmail.com</h2>
        </div>
        <div class="img">
          <img th:src="@{img/logo.png}" class="log">
        </div>
    </div>
    <div class="toda">
        <h1>Todas las marcas y logotipos pertenecen a las respectivas empresas. ® 2023. creado por PETCOM  ©.</h1>
    </div>
  </footer>

</body>
</html>
