<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="es">
<head>
  <link rel="stylesheet" th:href="@{css/registrar.css}">
  <link rel="stylesheet" th:href="@{css/dashAndFoot.css}">
  <title>RegistrarUsu</title>
</head>
<body>
  <nav>
    <img th:src="@{img/logo.png}" class="logo">
    <div class="btns">
        <div class="btn">
            <a th:href="@{/usu}"><input type="submit" value="USUARIOS"></a>
        </div>
        <div class="btn">
            <a href="oscar.html"><input type="submit" value="CITAS"></a>
        </div>
        <div class="btn">
            <a href="oscar.html"><input type="submit" value="AGENDA"></a>
        </div>
        <div class="btn">
          <a th:href="@{/modulMasco}"><input type="submit" value="MASCOTAS"></a>
        </div>
        <div class="btn">
            <a href="oscar.html"><input type="submit" value="CLIENTES"></a>
        </div>
        <div class="btn">
            <a th:href="@{/histo}"><input type="submit" value="HISTORIA CLÍNICA"></a>
        </div>
        <div class="btn">
            <a href="oscar.html"><input type="submit" value="PERFIL"></a>
        </div>
        <div class="cerrar">
            <a th:href="@{/cerrar}"><input type="submit" value="CERRAR SESIÓN"></a>
        </div>
    </div>
</nav>
  <main>
    <form th:action="@{/registrarUsu}" th:object="${usuario}" method="post">
      <h2>Registrar<br> Usuario</h2>
      <select id="" name="" th:field="*{tipoDocumentoUsu}">
        <option value="">Tipo Documento</option>
        <option value="C.C.">C.C.</option>
        <option value="T.I.">T.I.</option>
        <option value="C.E.">C.E.</option>
        <option value="DNI">DNI</option>
      </select><br><br>

      <input type="number" id="numerodocumento" th:field="*{numDocumentoUsu}" placeholder="Numero Documento" required><br><br>

      <input type="text" id="nombre" th:field="*{nombreUsu}" placeholder="Nombre" required><br><br>

      <input type="text" id="apellido" th:field="*{apellidoUsu}" placeholder="Apellido" required><br><br>

      <input type="number" id="telefono" th:field="*{telefonoUsu}" placeholder="Telefono" required><br><br>

      <input type="email" id="email" th:field="*{correoUsu}" placeholder="Email" required><br><br>

      <input type="password" id="clave" th:field="*{claveUsu}" placeholder="Clave"><br><br>

      <select id="rol" name="rol" th:field="*{estadoUsu}">
        <option value="">estado</option>
        <option value="1">Activo</option>
        <option value="0">Inactivo</option>
      </select><br><br>

      <select id="rol" name="rol" th:field="*{FK.idRol}">
        <option value="">Rol</option>
        <option value="1">Administrador</option>
        <option value="2">Secretario</option>
        <option value="3">Doctor</option>
        <option value="4">Peluquero</option>
      </select><br><br>
      <input type="submit" class="regis" value="Registrar">
    </form>
  </main>
  <footer>
    <div class="vete">
        <h1>Veterinaria Boss Bunny</h1>
    </div>
    <div class="contac">
        <div class="text">
            <h1>CONTACTO</h1>
            <h2>teléfono: 3147888196 • veterinaria@gmail.com</h2>
        </div>
        <div class="img">
          <img th:src="@{img/logo.png}" class="log">
        </div>
    </div>
    <div class="toda">
        <h1>Todas las marcas y logotipos pertenecen a las respectivas empresas. ® 2023. creado por PETCOM  ©.</h1>
    </div>
  </footer>

</body>
</html>
